<div class="row">
  <div class="col-xs-12">
    <img 
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      style="max-height: 300px;"
    >
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div 
      class="btn-group"
      appDropDown
    >
      <button 
        type="button" 
        class="btn btn-primary dropdown-toggle"
      >
      <span class="glyphicon glyphicon-menu-down"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a 
            style="cursor:pointer;"
            (click)="addIngredientsToShop(recipe)"
          >Adicionar ingredientes a lista de compras</a>
        </li>
        <li><a style="cursor:pointer;" (click)="onEditRecipe()">Editar receita</a></li>
        <li><a style="cursor:pointer;"(click)="deleteRecipe(recipe)">Deletar receita</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>{{ recipe.description }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li 
        class="list-group-item"
        *ngFor="let ingredient of recipe.ingredients"
      >
      {{ ingredient.name }} - Quantidade: {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>