<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="ingredientForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Nome</label>
          <input 
            type="text"
            id="name" 
            name="ingredientName"
            class="form-control"
            formControlName="ingredientName"
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Quantidade</label>
          <input 
            type="number"
            id="amount"
            name="amount"
            class="form-control"
            formControlName="amount"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 ">
          <button 
            class="btn btn-success"
            type="button"
            (click)= "addIngredient()"
            [disabled]="!ingredientForm.valid"
          >{{ editMode === false ? 'Adicionar' : 'Atualizar' }}</button>
          <button *ngIf="editMode"
            class="btn btn-danger" 
            type="button"
            (click)="onDelete()"
          >Deletar</button>
          <button 
            class="btn btn-primary" 
            type="button"
            (click)="onClear()"
          >Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>